{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "targets": { "node": true } }]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
