body {
  margin: 16px;
  background-color: #03A9F4;
  font-family: 'Roboto', sans-serif;
  user-select: none;

  --color-error: #B71C1C;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: all 0.5s ease;
  opacity: 1;
}

.hidden .card {
  opacity: 0;
}

.hidden .column:first-of-type .card {
  transform: translateY(100px);
}

.hidden .column:last-of-type .card {
  transform: translateY(180px);
}

.card-header {
  margin: 0 0 8px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.caption {
  font-family: 'Crimson Text', serif;
  opacity: 0.56;
  font-size: 19px;
  font-style: italic;
}

.caption--small {
  font-size: 16px;
}

.background-image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  transition: opacity 0.5s ease;
  opacity: 0;
  transform: translateZ(0);
}

.background-image.show {
  opacity: 1;
}

.container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  max-width: 880px;
  width: 100%;
}

.column {
  width: 50%;
}

.column:first-of-type {
  margin-right: 16px;
}

.tray {
  display: flex;
  position: fixed;
  right: 8px;
  bottom: 8px;
  margin-bottom: -4px;
}

.tray > * {
  margin-left: 8px;
  color: white;
}

.tray-icon {
  opacity: 0.56;
  transition: opacity 0.5s ease;
}

.tray-icon:hover {
  opacity: 0.87;
}

.title {
  margin: 0 0 16px 0;
  color: #FAFAFA;
  opacity: 0.27;
  font-size: 56px;
  font-weight: 300;
}

.date-time-section {
  height: 170px;
}

.time {
  align-self: center;
  font-size: 120px;
  font-weight: 100;
  opacity: 0.56;
}

.date {
  font-size: 26px;
  font-weight: 300;
}

.list {
  margin: 0;
  padding: 0;
}

.list-element {
  display: flex;
  align-items: center;
  min-height: 48px;
  list-style: none;
}

.list-element:last-of-type {
  border-bottom: none;
}

.list-element-icon {
  margin-right: 8px;
}

.no-tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-tasks-flag {
  margin-bottom: 8px;
  font-size: 48px;
  opacity: 0.56;
}

.tasks-error-message {
  color: var(--color-error);
  margin-top: 8px;
}
