.events-subsection {
  margin-bottom: 8px;
}

.events-subsection:last-of-type {
  margin-bottom: 0;
}

.events-list {
  padding-left: 16px;
  margin: 0;
  list-style: none;
}

.events-list-element {
  margin-bottom: 4px;
}
